$font: 'Rubik', sans-serif;
$text-coler:#4F5665;
$header-coler:#0B132A;
$primary-coler:#F53838;
$gray-coler:#DDE0E4;
$gray-light-coler:#FBFBFB;
$gray-lighter-coler:#ddd;


$DarkBlue: hsl(233, 26%, 24%);
$LimeGreen: hsl(136, 65%, 51%);
$BrightCyan: hsl(192, 70%, 51%);
$GrayishBlue: hsl(233, 8%, 62%);
$LightGrayishBlue: hsl(220, 16%, 96%);
$VeryLightGray: hsl(0, 0%, 98%);
$White: hsl(0, 0%, 100%);



$font-sm: 1.4rem;
$font-med: 1.8rem;